openapi: 3.0.0
info:
  title: Authenticated Anonymity Architecture (AAA) Backend API
  description: |
    API specification for the Authenticated Anonymity Architecture (AAA), a blockchain-based solution
    providing robust and ethical authenticated anonymous identities with deanonymization capabilities
    for criminal activity cases.

    **Version:** 0.0.1

    **Authors:** Michele Dinelli, Luca Sciullo, Lorenzo Gigli

    **Date:** 21/05/2025

    This specification outlines the backend API endpoints.
  version: 0.0.1
  contact:
    name: AAA Backend Team
    email: m.dinelli@unibo.it, luca.sciullo2@unibo.it, lorenzo.gigli@unibo.it

servers:
  - url: https://prod.aaa.com
    description: Production server
  - url: https://dev.aaa.com
    description: Development server

tags:
  - name: Identity Management
    description: Operations related to user registration, PID issuance, and SID creation.
  - name: Authentication Services
    description: Endpoints for Public Authentication Code (PAC) and Secret Authentication Code (SAC) issuance and anonymous login.
  - name: Internal/Security
    description: Internal operations, potentially for NIP/UIP or deanonymization (with strict access controls).

paths:
  /identity/signup:
    post:
      summary: User Registration and PID Issuance Request
      operationId: registerUser
      tags:
        - Identity Management
      description: |
        Allows a user to submit a request to their National Identity Provider (NIP) with
        personal data (e.g., ID card, passport details) and a Public Key (PK) to initiate
        the Public Identity Data (PID) issuance. The NIP verifies the user's real identity and issues a PID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserRegistrationRequest"
      responses:
        "201":
          description: PID successfully issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PIDResponse"
        "400":
          description: Invalid request or missing data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse400"
        "409":
          description: User already registered.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse400"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse500"

  /identity/seed-phrase:
    post:
      summary: Request Seed Phrase and SID Creation
      operationId: requestSeedPhrase
      tags:
        - Identity Management
      description: |
        Allows a user to send their PID and a Public Key (PK) (not necessarily the one used to signup) to the smart contract
        (via this intermediary backend service) to request a seed phrase and initiate Secret Identity Data (SID) creation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SeedPhraseRequest"
      responses:
        "202":
          description: Seed phrase generation initiated. Awaits retrieval.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncOperationStatus"
        "400":
          description: Invalid request or PID/PK mismatch.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse400"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse500"

  # /identity/seed-phrase/retrieve/{pid}:
  #   get:
  #     summary: Retrieve Encrypted Seed Phrase
  #     operationId: retrieveSeedPhrase
  #     tags:
  #       - Identity Management
  #     description: |
  #       Allows a user to retrieve their confidentially encrypted seed phrase from the blockchain
  #       using their Secret Key (SK). This operation also returns the SID.
  #     parameters:
  #       - name: pid
  #         in: path
  #         required: true
  #         description: The Public Identity Data (PID) of the user.
  #         schema:
  #           type: string
  #           format: uuid
  #           example: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
  #     responses:
  #       "200":
  #         description: Encrypted seed phrase retrieved.
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 encryptedSeedPhrase:
  #                   type: string
  #                   description: The seed phrase encrypted with the user's Public Key.
  #                   example: "encrypted_data_base64_string_xyz..."
  #                 sid:
  #                   type: string
  #                   description: The generated Secret Identity Data (SID).
  #                   example: "hashed_sid_value"
  #       "401":
  #         description: Unauthorized access or invalid PID.
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ErrorResponse400"
  #       "404":
  #         description: Seed phrase not found for the given PID or not yet generated.
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ErrorResponse400"
  #       "500":
  #         description: Internal server error.
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ErrorResponse400"

  /identity/seed-phrase/reconstruction:
    post:
      summary: Reconstruct Seed Phrase (UIP Internal)
      operationId: reconstructSeedPhrase
      tags:
        - Internal/Security
      description: |
        Internal endpoint for Union of Identity Providers (UIP) nodes to contribute
        to the reconstruction of a seed phrase. This requires consensus among UIP nodes
        to decrypt individual word fragments for reconstruction.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pid
                - encryptedWordFragments
              properties:
                pid:
                  type: string
                  format: uuid
                  description: The PID for which to reconstruct the seed phrase.
                  example: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                encrypted_word_fragments:
                  type: array
                  description: Array of encrypted word fragments (e.g., `ENC(PID, wordnumber, word, PKi)`).
                  items:
                    type: string
                    example: "fragment1_base64"
      responses:
        "200":
          description: Successfully contributed to seed phrase reconstruction.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "contribution received"
                  message:
                    type: string
                    example: "Partial data processed for seed phrase reconstruction."
        "400":
          description: Invalid request or missing fragments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse400"
        "403":
          description: Unauthorized UIP node.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse403"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse500"

  /auth/pac:
    post:
      summary: Request Public Authentication Code (PAC)
      operationId: requestPAC
      tags:
        - Authentication Services
      description: |
        Allows a user to request a PAC (a one-time code) from their NIP for services requiring an authenticated public identity.
        The user provide a payload namely `SIGN(PID, SK)` (PID signed with the Secret Key used to obtained the PID).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - signedPid
              properties:
                signedPid:
                  type: string
                  description: PID signed with the user's Secret Key (SK) obtained with the PID.
                  example: "signed_pid_payload_base64"
      responses:
        "200":
          description: PAC successfully issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PACResponse"
        "400":
          description: Invalid request or invalid payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse400"
        "401":
          description: Unauthorized - PID/SK mismatch.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse401"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse500"

  /auth/pac/verify/{pac}:
    get:
      summary: Verify Public Authentication Code (PAC)
      operationId: verifyPAC
      tags:
        - Authentication Services
      description: |
        Allows public services to query the NIP to verify if a PAC is associated with an authenticated user.
      parameters:
        - name: pac
          in: path
          required: true
          description: The Public Authentication Code to verify.
          schema:
            type: string
            example: "abc123def456ghi789"
      responses:
        "200":
          description: PAC is valid and associated with an authenticated user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_valid:
                    type: boolean
                    example: true
                  pid:
                    type: string
                    format: uuid
                    description: The PID associated with the PAC (if valid).
                    example: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
        "404":
          description: PAC not found or expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse404"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse500"

  /auth/sac:
    post:
      summary: Request Secret Authentication Code (SAC)
      operationId: requestSAC
      tags:
        - Authentication Services
      description: |
        Allows a user to request a SAC (one-time code) from the NIP for services requiring an authenticated anonymous identity.
        The user queries the NIP by sending a message containing `SID: ENC(SID, SK)` (SID signed with the Secret Key
        associated with the PK used for SID storage). The NIP verifies ownership and issues the SAC.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - signedSid
              properties:
                signed_sid:
                  type: string
                  description: SID signed with the Secret Key (SK) associated with the PK used for SID storage.
                  example: "signed_sid_payload_base64"
      responses:
        "200":
          description: SAC successfully issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SACResponse"
        "400":
          description: Invalid request or signature verification failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse400"
        "401":
          description: Unauthorized - SID/SK mismatch.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse401"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse500"

  /auth/sac/authorize:
    post:
      summary: Authorize Anonymous Account with SAC
      operationId: authorizeAnonymousAccount
      tags:
        - Authentication Services
      description: |
        Allows a user to send the Public Key (PK) of their anonymous account, along with their SAC,
        for authorization.
        A `SAC: PK` record is stored on the blockchain, associating the SAC with the anonymous account's PK.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sac
                - anonymousAccountPk
              properties:
                sac:
                  type: string
                  description: The Secret Authentication Code.
                  example: "def456ghi789jkl012"
                public_key:
                  type: string
                  description: The Public Key (PK) of the anonymous account the user intends to use.
                  example: "-----BEGIN PUBLIC KEY-----MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA..."
      responses:
        "200":
          description: Anonymous account successfully authorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "authorized"
                  message:
                    type: string
                    example: "Anonymous account successfully linked to SAC on blockchain."
        "400":
          description: Invalid request or SAC/PK mismatch.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse400"
        "404":
          description: SAC not found or expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse404"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse500"

  /auth/login/anonymous:
    post:
      summary: Anonymous Service Login
      operationId: anonymousServiceLogin
      tags:
        - Authentication Services
      description: |
        Allows a user to login to an anonymous service by providing their SAC, the PK of their
        anonymous account, and the SAC signed with the SK associated with that PK. The anonymous
        service will verify these details against the blockchain records to grant access.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sac
                - anonymous_account_pk
                - signed_sac_with_anon_sk
              properties:
                sac:
                  type: string
                  description: The Secret Authentication Code.
                  example: "def456ghi789jkl012"
                anonymous_account_pk:
                  type: string
                  description: The Public Key (PK) of the anonymous account.
                  example: "-----BEGIN PUBLIC KEY-----MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA..."
                signed_sac_with_anon_sk:
                  type: string
                  description: SAC signed with the Secret Key (SK) associated with the anonymous account's PK.
                  example: "signed_sac_payload_base64"
      responses:
        "200":
          description: Successfully logged in to anonymous service.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Anonymous login successful."
                  # sessionToken:
                  #   type: string
                  #   description: A session token for the anonymous service.
                  #   example: "jwt_token_for_anonymous_session"
        "400":
          description: Invalid request, missing data, or signature verification failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse400"
        "401":
          description: Unauthorized - SAC/PK/SK mismatch or invalid SAC.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse401"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse500"

  # /deanonymize/{pid}:
  #   post:
  #     summary: Deanonymize User (Authorized Actors Only)
  #     operationId: deanonymizeUser
  #     tags:
  #       - Internal/Security
  #     description: |
  #       Allows properly authorized actors (e.g., NIP, legal entities with consensus) to
  #       deanonymize a user by providing their PID. This endpoint would trigger the
  #       internal process to link PID to real user information based on established protocols.
  #       **Strict access control and multi-party consensus are implied by the requirements and must be enforced.**
  #     parameters:
  #       - name: pid
  #         in: path
  #         required: true
  #         description: The Public Identity Data (PID) of the user to deanonymize.
  #         schema:
  #           type: string
  #           format: uuid
  #           example: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
  #     requestBody:
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             type: object
  #             required:
  #               - authorizationToken
  #               - reason
  #             properties:
  #               authorizationToken:
  #                 type: string
  #                 description: Token proving authorization by consensus of participating organizations.
  #                 example: "consensus_auth_jwt_token"
  #               reason:
  #                 type: string
  #                 description: Legal or criminal activity reason for deanonymization.
  #                 example: "Investigation into cybercrime case #12345"
  #     responses:
  #       "200":
  #         description: Deanonymization process initiated/successful.
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 status:
  #                   type: string
  #                   example: "deanonymization_initiated"
  #                 message:
  #                   type: string
  #                   example: "Deanonymization process for PID initiated. Audit trail recorded."
  #                 realIdentityLink:
  #                   type: string
  #                   description: Link to real identity information (highly sensitive, only returned to authorized system).
  #                   example: "link_to_secure_identity_record"
  #       "401":
  #         description: Unauthorized access or invalid authorization token.
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ErrorResponse401"
  #       "403":
  #         description: Forbidden - Consensus not reached or insufficient permissions.
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ErrorResponse403"
  #       "404":
  #         description: PID not found.
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ErrorResponse404"
  #       "500":
  #         description: Internal server error.
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ErrorResponse500"

components:
  schemas:
    UserRegistrationRequest:
      type: object
      required:
        - personalData
        - publicKey
      properties:
        personal_data:
          type: object
          description: Placeholder for actual personal data required by the NIP (e.g., hashed ID, partial passport info).
          properties:
            national_id_hash:
              type: string
              example: "hashed_national_id_string"
            date_of_birth:
              type: string
              format: date
              example: "1990-01-01"
            additional_info:
              type: string
              description: Any additional information required by the NIP.
              example: "Additional verification data"
        public_key:
          type: string
          description: User's Public Key (PK) to be associated with their identity.
          example: "-----BEGIN PUBLIC KEY-----MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA..."
    PIDResponse:
      type: object
      required:
        - pid
        - message
      properties:
        pid:
          type: string
          description: The issued Public Identity Data (anonymous token).
          format: uuid
          example: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
        message:
          type: string
          description: Confirmation message.
          example: "PID successfully issued and saved."

    SeedPhraseRequest:
      type: object
      required:
        - pid
        - publicKey
      properties:
        pid:
          type: string
          description: The user's Public Identity Data.
          format: uuid
          example: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
        public_key:
          type: string
          description: User's Public Key (PK) for encrypting the SID on the blockchain.
          example: "-----BEGIN PUBLIC KEY-----MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA..."

    AsyncOperationStatus:
      type: object
      required:
        - status
        - message
      properties:
        status:
          type: string
          description: Status of the asynchronous operation.
          example: "PENDING"
        message:
          type: string
          description: Details about the operation's status.
          example: "Seed phrase generation initiated. You can retrieve it shortly."

    PACResponse:
      type: object
      required:
        - pac
        - message
      properties:
        pac:
          type: string
          description: The issued Public Authentication Code (one-time code).
          example: "abc123def456ghi789"
        message:
          type: string
          description: Confirmation message.
          example: "PAC issued successfully."

    SACResponse:
      type: object
      required:
        - sac
        - message
      properties:
        sac:
          type: string
          description: The issued Secret Authentication Code (one-time code).
          example: "def456ghi789jkl012"
        message:
          type: string
          description: Confirmation message.
          example: "SAC issued successfully."

    ErrorResponse400:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: An application-specific error code.
          example: "INVALID_REQUEST"
        message:
          type: string
          description: A human-readable explanation of the error.
          example: "A human-readable explanation of the error."

    ErrorResponse401:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: An application-specific error code.
          example: "UNAUTHORIZED"
        message:
          type: string
          description: A human-readable explanation of the error.
          example: "A human-readable explanation of the error."

    ErrorResponse403:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: An application-specific error code.
          example: "FORBIDDEN"
        message:
          type: string
          description: A human-readable explanation of the error.
          example: "A human-readable explanation of the error."

    ErrorResponse404:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: An application-specific error code.
          example: "NOT_FOUND"
        message:
          type: string
          description: A human-readable explanation of the error.
          example: "A human-readable explanation of the error."

    ErrorResponse500:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: An application-specific error code.
          example: "SERVER_ERROR"
