basePath: /
definitions:
  models.ErrorResponseModel:
    properties:
      code:
        type: integer
      message:
        type: string
    type: object
  models.PACRequestModel:
    properties:
      pid:
        example: DmIq8x2JNs+E2qGBr16LxP6lUK+i/5nJRLuzvYEymtY=
        type: string
      signed_pid:
        example: signed_pid_payload_base64
        type: string
    required:
    - pid
    - signed_pid
    type: object
  models.PACResponseModel:
    properties:
      expiration:
        example: "2024-12-31T23:59:59Z"
        type: string
      pac:
        example: 874532
        type: integer
    type: object
  models.PACVerificationRequestModel:
    properties:
      pac:
        example: 874532
        type: integer
      pid:
        example: DmIq8x2JNs+E2qGBr16LxP6lUK+i/5nJRLuzvYEymtY=
        type: string
    required:
    - pac
    - pid
    type: object
  models.PACVerificationResponseModel:
    properties:
      expiration:
        example: "2024-12-31T23:59:59Z"
        type: string
      valid:
        example: true
        type: boolean
    type: object
  models.PIDRequestModel:
    properties:
      public_key:
        example: LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQ0FRRUF1aVRTYzZMY3NmaFRZbEY0WDk2OApEcStXVzNrRmx3U21UR2NJQXJ5eFZ2OVhBQ2VFSXJuL0JYZE9McTFNSU52enc5WTZvNmhTd3hqUkp2SzlvdFpMCnlXYzFvc2RUNGdlTDJaT2xEMHUwakFvbEpqVU9hVWVyMmJKQTUzQzhXMjd1MHJyQzVvc3Z3THRNVWYxWnpTR0MKL2hrY0VOcjNjRGl6YWJibkw2dzVFUEdCVjlNU2RnaUdlelJXaXVEeGIzcldEOFNwSlpNa2c5b3ZSK3dOMlI2YwpOK2RwTkNjdDdWYjQxaWhXU0VXT1o2djhFdTREV3FjVW0vQzBpLzZ3eVJkWU93Y0E3NktkMmkxcnNZdHFlQS84CnZuMklTTEp2eGdkM3ZCdXY1ZnFkS0kzRm0rd3NIVDhHdHlkQUw5VjF4V3g4bnFlcFlwMlIvaXJMNHFUeGFnVzkKMXdJREFRQUIKLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==
        type: string
    required:
    - public_key
    type: object
  models.PIDResponseModel:
    properties:
      message:
        example: PID successfully issued and saved
        type: string
      pid:
        example: Nifl3y+2jmuAxF26jqpjogu0ZYnA6IxSikjmTnnjm7k=
        type: string
    type: object
  models.SACRequestModel:
    properties:
      sid:
        example: MHhhOTcwZWRkMTEyNTRjNTQ3OTIyMWVjOTFjZGU0YjNiMGI2MjQ1NzI3NmVmMzA0MmMzN2M2MDJkMWRlMTg4Njc5
        type: string
      signed_sid:
        example: QEZZSiBAF1TPbSgHAlcwlrG4unRGZBGYOf8yjiSfP8wUcnkvdm+yQTOzGpqWG/m4/qCG7stlDYqZrQIyRWC7mb0sbTe2MhMYrZOzyz6uH8hCxIJh5JQ6ivsntufaeg9HOoZ9M6wdhp1/BsbwuGG27CQ7BcuuKZu2Mi1cNu32dnTGxv4PORoCy1JqgV519JsuwL3aekdZ2jVrYaepTTDT1vJR4vhLZ76gV1ywUAIEMm8q+R12ydntAroOd8EaiCXx0pyM3zVAE1G0Qv1g0qRGrnogmMhCIpljJ79KEFtOQDHLd0RnbPuoh99eszx99qc911VXTjiHMNdIxhanp31odA==
        type: string
    required:
    - sid
    - signed_sid
    type: object
  models.SACResponseModel:
    properties:
      expiration:
        example: "2024-12-31T23:59:59Z"
        type: string
      sac:
        example: 874532
        type: integer
    type: object
host: localhost:8888
info:
  contact:
    email: m.dinelli@unibo.it
    name: Michele Dinelli
  description: API specification for the Authenticated Anonymity Architecture (AAA),
    a blockchain-based solution providing robust and ethical authenticated anonymous
    identities with deanonymization capabilities for criminal activity cases.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: National Identity Provider (NIP)
  version: 0.0.1
paths:
  /v1/auth/pac:
    post:
      consumes:
      - application/json
      description: Allows a user to request a Public Authentication Code (PAC). It
        accepts a message `PID` and `SIGN(PID, SK)`, namely the PID signed with the
        private key of the public-private key pair used to obtain the PID.  When logging
        onto the public service, the user can show the PAC, and the service has only
        to query the NIP to verify that the code is associated with an authenticated
        user.
      parameters:
      - description: PAC Request Model
        in: body
        name: models.PACRequestModel
        required: true
        schema:
          $ref: '#/definitions/models.PACRequestModel'
      produces:
      - application/json
      responses:
        "200":
          description: The Public Authentication Code
          schema:
            $ref: '#/definitions/models.PACResponseModel'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
        "404":
          description: Not found
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
        "500":
          description: An error occurred
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
      summary: PAC issuance request
      tags:
      - auth
  /v1/auth/sac:
    post:
      consumes:
      - application/json
      description: The SAC (Secret Authentication Code) is a one-time code used to
        authenticate the user as an anonymous user. It accepts `ENC(SID, SK)`, i.e.,
        the SID signed with the private key associated with the public key saved on
        the blockchain at the moment of seed phrase creation and used in the record
        where the SID was stored. The NIP retrieves the SID record from the blockchain
        and checks that it was actually signed by that user via the PK saved in the
        record. This certifies that the user is the true owner of that SID.
      parameters:
      - description: SAC Request Model
        in: body
        name: models.SACRequestModel
        required: true
        schema:
          $ref: '#/definitions/models.SACRequestModel'
      produces:
      - application/json
      responses:
        "200":
          description: The Secret Authentication Code
          schema:
            $ref: '#/definitions/models.SACResponseModel'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
        "500":
          description: An error occurred
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
      summary: SAC issuance request
      tags:
      - auth
  /v1/auth/verify-pac:
    post:
      consumes:
      - application/json
      description: Allows a user to verify a PAC (Public Authentication Code) for
        services accepting an authenticated anonymous identity.
      parameters:
      - description: PAC Verification Request Model
        in: body
        name: models.PACVerificationRequestModel
        required: true
        schema:
          $ref: '#/definitions/models.PACVerificationRequestModel'
      produces:
      - application/json
      responses:
        "200":
          description: The Public Authentication Code Verification Response
          schema:
            $ref: '#/definitions/models.PACVerificationResponseModel'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
        "404":
          description: Not found
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
        "500":
          description: An error occurred
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
      summary: PAC verification request
      tags:
      - auth
  /v1/identity/pid:
    post:
      consumes:
      - application/json
      description: The NIP issues a Public Identity Data (PID), i.e., an anonymous
        token that identifies the user without sharing information. The real identity
        of the user is carried by the PID alone. The NIP will be the only one able
        to connect a PID to the real information of the respective user. It accepts
        a 2048 bit RSA PKCS#8 key encoded in base64.
      parameters:
      - description: PID Request Model
        in: body
        name: models.PIDRequestModel
        required: true
        schema:
          $ref: '#/definitions/models.PIDRequestModel'
      produces:
      - application/json
      responses:
        "200":
          description: The PID
          schema:
            $ref: '#/definitions/models.PIDResponseModel'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
        "500":
          description: An error occurred
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
      summary: PID issuance request
      tags:
      - identity
schemes:
- http
- https
swagger: "2.0"
