basePath: /
definitions:
  models.ErrorResponseModel:
    properties:
      code:
        type: integer
      message:
        type: string
    type: object
  models.PACRequestModel:
    properties:
      pid:
        example: DmIq8x2JNs+E2qGBr16LxP6lUK+i/5nJRLuzvYEymtY=
        type: string
      signed_pid:
        example: fzLD1/PAJoq7EtWqIXLOYMhxNJCK9L4w4yniXZSxu0r3+oZ84jreOAhAIlrodSdg0/4EaKYWLmyf0D0uD0eozzwhvVYPDZIrLSxllH+HeEWWuOm1hnPVOOUwo7G4ROemojqwNQ6uvSB+AxoAPiSfm01Rgi0BPoaH9X8H6r94O9Hm3ZrgA9zoxQhMTx/eDpsW2yNbfPFXd18IAuHqLJSCBOSl3U4PfHEad3xFw6H04s2hr3Rqlsb2WsJmS6rf0mPEPAKjq1fSvBIcxg6PCJdfw/GhZEByrP0qc5DllkYSYZaddM/pAh+8LA16YmN1eO9VthsQxGt/WHma/5xsChOaCMd+fgk+Yjio56LoHrC86SqKsS4gkfa2jZoyagwNCah/nKAQkeVzQjk5+WLdCfMh71v82lw9L3rwlng2KhLC4z19k7wheoKQipJaxFR72T7PDftt1TvttK5q6F8x+sV6cTC6roRkgZG03X4tgLJrkBLjF9w3KbcKhPzLyu9ehYtTqFe9hBuR11UXirTi96bvmT9wWDVoTxv+ZGvn59e0VLBcQp67W2m3CZgmIs5eksQPhsFufRwYq49kXxFqnX5OZdqmVVhbQM8X9b8dTpgxd+tIuPzrYcG3ts5ApPCdXMoM/s1Tp6x+QQtq6uOD44V5v5E9tHd9GAH5cYKDfPvdA/w=
        type: string
    required:
    - pid
    - signed_pid
    type: object
  models.PACResponseModel:
    properties:
      expiration:
        example: "2024-12-31T23:59:59Z"
        type: string
      pac:
        example: 874532
        type: integer
    type: object
  models.PACVerificationRequestModel:
    properties:
      pac:
        example: 874532
        type: integer
      pid:
        example: DmIq8x2JNs+E2qGBr16LxP6lUK+i/5nJRLuzvYEymtY=
        type: string
    required:
    - pac
    - pid
    type: object
  models.PACVerificationResponseModel:
    properties:
      expiration:
        example: "2024-12-31T23:59:59Z"
        type: string
      valid:
        example: true
        type: boolean
    type: object
  models.PIDRequestModel:
    properties:
      public_key:
        example: abc123def456ghci78
        type: string
    required:
    - public_key
    type: object
  models.PIDResponseModel:
    properties:
      message:
        example: PID successfully issued and saved
        type: string
      pid:
        example: a1b2c3d4-e5f6-7890-1234-567890abcdef
        type: string
    type: object
  models.SACRequestModel:
    properties:
      signed_sid:
        example: signed_sid_payload_base64
        type: string
    type: object
  models.SACResponseModel:
    properties:
      sac:
        example: abc123def456ghci78
        type: string
    type: object
host: localhost:8888
info:
  contact:
    email: m.dinelli@unibo.it
    name: Michele Dinelli
  description: API specification for the Authenticated Anonymity Architecture (AAA),
    a blockchain-based solution providing robust and ethical authenticated anonymous
    identities with deanonymization capabilities for criminal activity cases.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: National Identity Provider (NIP)
  version: 0.0.1
paths:
  /v1/auth/pac:
    post:
      consumes:
      - application/json
      description: Allows a user to request a PAC (a one-time code) for services requiring
        an authenticated public identity. The user provide a payload namely `SIGN(PID,
        SK)` (PID signed with the Secret Key used to obtained the PID). PAC is temporarily
        stored locally.
      parameters:
      - description: PAC Request Model
        in: body
        name: models.PACRequestModel
        required: true
        schema:
          $ref: '#/definitions/models.PACRequestModel'
      produces:
      - application/json
      responses:
        "200":
          description: The Public Authentication Code
          schema:
            $ref: '#/definitions/models.PACResponseModel'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
        "404":
          description: Not found
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
        "500":
          description: An error occurred
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
      summary: PAC issuance request
      tags:
      - auth
  /v1/auth/sac:
    post:
      consumes:
      - application/json
      description: Allows a user to request a SAC (one-time code) for services accepting
        an authenticated anonymous identity.        The user queries the NIP by sending
        a message containing `ENC(SID, SK)` (SID signed with the Secret Key associated
        with the PK used for SID storage at seed generation time). The NIP verifies
        ownership and issues the SAC storing the mapping SAC:SID.
      parameters:
      - description: SAC Request Model
        in: body
        name: models.SACRequestModel
        required: true
        schema:
          $ref: '#/definitions/models.SACRequestModel'
      produces:
      - application/json
      responses:
        "200":
          description: The Secret Authentication Code
          schema:
            $ref: '#/definitions/models.SACResponseModel'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
        "500":
          description: An error occurred
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
      summary: SAC issuance request
      tags:
      - auth
  /v1/auth/verify-pac:
    post:
      consumes:
      - application/json
      description: Allows a user to verify a PAC (Public Authentication Code) for
        services accepting an authenticated anonymous identity.
      parameters:
      - description: PAC Verification Request Model
        in: body
        name: models.PACVerificationRequestModel
        required: true
        schema:
          $ref: '#/definitions/models.PACVerificationRequestModel'
      produces:
      - application/json
      responses:
        "200":
          description: The Public Authentication Code Verification Response
          schema:
            $ref: '#/definitions/models.PACVerificationResponseModel'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
        "404":
          description: Not found
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
        "500":
          description: An error occurred
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
      summary: PAC verification request
      tags:
      - auth
  /v1/identity/pid:
    post:
      consumes:
      - application/json
      description: Allows a user to submit a request to their National Identity Provider
        (NIP) with personal data (e.g., ID card, passport details) and a Public Key
        (PK) to initiate the Public Identity Data (PID) issuance. The NIP verifies
        the user's real identity and issues a PID.
      parameters:
      - description: PID Request Model
        in: body
        name: models.PIDRequestModel
        required: true
        schema:
          $ref: '#/definitions/models.PIDRequestModel'
      produces:
      - application/json
      responses:
        "200":
          description: The PID
          schema:
            $ref: '#/definitions/models.PIDResponseModel'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
        "500":
          description: An error occurred
          schema:
            $ref: '#/definitions/models.ErrorResponseModel'
      summary: PID issuance request
      tags:
      - identity
schemes:
- http
- https
swagger: "2.0"
